<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Codepse main</title>
	
	<!--- cutom css line -->
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">


    <!--- box icons link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{ messages[0] }}");
        </script>
    {% endif %}
    {% endwith %}

    <!--- header section -->
    <header>
        <a href="{{ url_for('home') if current_user.is_authenticated else url_for('not_logged_home') }}" class="logo">CODE PSE</a>
        <div class="bx menu" id="menu-icon"></div>

        <ul class="navlist">
            <!-- 로그인 상태에 따라 Home 링크를 변경 -->
            <li><a href="{{ url_for('home') if current_user.is_authenticated else url_for('not_logged_home') }}">HOME</a></li>
            <li><a href="/test_list">CODING TEST</a></li>
            <li><a href="/ai_chatbot">AI CHATBOT</a></li>
            <li class="dropdown">
                <a href="/typinggame" class="dropbtn">CODING GAME</a>
                <div class="dropdown-content">
                    <a href="/typinggame">TYPING GAME</a>
                    <a href="/draggame">DRAG GAME</a>
                    <a href="/outputgame">OUTPUT GAME</a>
                </div>
                <li><a href="/board_list">BOARD</a></li>
              </li>
              <li><a href="/mypage" class="mypage-btn">MYPAGE</a></li>
              <li><a href="/logout" class="loginout-btn">LOGOUT</a></li>
              {% if current_user.is_authenticated %}
              <!-- 로그인 한 사용자의 이름을 표시 -->
              <li class="user-name">hello, {{ current_user.username }}</li>
              {% endif %}


        </ul>
    </header>
    <title>board_list</title>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/board_list.css') }}" rel="stylesheet">

    <h1>게시글 목록</h1>
    <div style="text-align:right; margin-bottom: 10px;">
        <a href="/board_write" style="padding: 5px 10px; background-color: #007BFF; color: #FFFFFF; border-radius: 5px; text-decoration: none;">글쓰기</a>
    </div>
    <table>
        <thead>
            <tr>
                <th scope="col" class="th-num">번호</th>
                <th scope="col" class="th-title">제목</th>
                <th scope="col" class="th-title">작성자</th>
                <th scope="col" class="th-num">작성일</th>
                <th scope="col" class="th-num">조회</th>
            </tr>
        </thead>
        <tbody>
            {% for board, user in boards %}
                <tr>
                    <td>{{ board.display_number }}</td>
                    <td><a href="{{ url_for('board.board_detail', board_id=board.board_id) }}">{{ board.title }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ board.created_at.strftime('%Y.%m.%d / %H:%M:%S') }}</td>
                    <td>{{ board.view }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
    <form action="{{ url_for('board.board_list') }}" method="GET" style="margin-bottom: 20px;">
        <select name="search_type">
            <option value="title">제목</option>
            <option value="username">작성자</option>
        </select>
        <input type="text" name="search_query" value="{{ search_query }}" placeholder="검색">
        <button type="submit">검색</button>
    </form>
        {% if current_page > 10 %}
            <a href="{{ url_for('board.board_list', page=current_page-10) }}{% if search_query %}?search={{ search_query }}{% endif %}">&lt;&lt;</a>
        {% endif %}
        {% for i in range(current_page - (current_page-1)%10, current_page - (current_page-1)%10 + 10) %}
            {% if i <= total_pages %}
                {% if i == current_page %}
                    <span>{{ i }}</span>
                {% else %}
                    <a href="{{ url_for('board.board_list', page=i) }}{% if search_query %}?search={{ search_query }}{% endif %}">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if current_page // 10 < total_pages // 10 %}
            <a href="{{ url_for('board.board_list', page=current_page+10) }}{% if search_query %}?search={{ search_query }}{% endif %}">&gt;&gt;</a>
        {% endif %}
    </div>
    </body>
</html>
