<!DOCTYPE html>
<head>
    <meta charset="uft-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Typing Game</title>
	
	<!--- cutom css line -->
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">


    <!--- box icons link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

</head>
<body>

    <!--- header section -->
    <header>
        <a href="{{ url_for('home') if current_user.is_authenticated else url_for('not_logged_home') }}" class="logo">CODE PSE</a>
        <div class="bx bx menu" id="menu-icon"></div>

        <ul class="navlist">
            <!-- 로그인 상태에 따라 Home 링크를 변경 -->
            <li><a href="{{ url_for('home') if current_user.is_authenticated else url_for('not_logged_home') }}">HOME</a></li>
            <li><a href="/test_list">CODING TEST</a></li>
            <li><a href="/ai_chatbot">AI CHATBOT</a></li>
            <li class="dropdown">
                <a href="/typinggame" class="dropbtn">CODING GAME</a>
                <div class="dropdown-content">
                    <a href="/typinggame">TYPING GAME</a>
                    <a href="/draggame">DRAG GAME</a>
                    <a href="/outputgame">OUTPUT GAME</a>
                </div>
            </div>
            <li><a href="/board_list">BOARD</a></li>
          </li>
          <li><a href="/mypage" class="mypage-btn">MYPAGE</a></li>
          <li><a href="/logout" class="loginout-btn">LOGOUT</a></li>
          {% if current_user.is_authenticated %}
          <!-- 로그인 한 사용자의 이름을 표시 -->
          <li class="user-name">hello, {{ current_user.username }}</li>
          {% endif %}


        </ul>
    </header>


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	        <!--- cutom css line -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/typinggame.css') }}">


    <title>Typing Game</title>
</head>

<body>
    <h5>타이핑 게임<p1>⌨️</p1></h5>
    <div class="wrapper">
        <textarea class="input-field"></textarea>
        <!-- Add language and code description here -->
        <div class="code-info">   <!-- New div added -->
            <p class="language"><strong>언어:</strong> <span><b></b></span></p>   <!-- Move language info here -->
            <p class="code-description"></p>
        </div>
		<div class="content-box">
			<div class="typing-text">
				<p></p>
			</div>
			<div class="content">
				<ul class="result-details">
					<li class="timeLeft">
						<p>time Left:</p>
						<span><b>100</b>s</span>
					</li>
				</ul>
				<button class="nextbtn">다음 문제</button>
			</div>
		</div>
	</div>

            <!--- custom js file link -->
            <script src="{{ url_for('static', filename='js/typinggame.js') }}"></script>
</body>

</html>
