<!DOCTYPE html>
<head>
    <meta charset="uft-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>ai chatbot</title>
	
	<!-- cutom css line -->
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">


    <!-- box icons link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!-- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

</head>
<body>

    <!-- 해더 섹션 -->
    <header>
        <a href="{{ url_for('home') if current_user.is_authenticated else url_for('not_logged_home') }}" class="logo">CODE PSE</a>
        <div class="bx bx menu" id="menu-icon"></div>

        <ul class="navlist">
            <li><a href="{{ url_for('home') if current_user.is_authenticated else url_for('not_logged_home') }}">HOME</a></li>
            <li><a href="/test_list">CODING TEST</a></li>
            <li><a href="/ai_chatbot">AI CHATBOT</a></li>
            <li class="dropdown">
                <a href="/typinggame" class="dropbtn">CODING GAME</a>
                <div class="dropdown-content">
                    <a href="/typinggame">TYPING GAME</a>
                    <a href="/draggame">DRAG GAME</a>
                    <a href="/outputgame">OUTPUT GAME</a>
                </div>
                <li><a href="/board_list">BOARD</a></li>
              </li>
              <li><a href="/mypage" class="mypage-btn">MYPAGE</a></li>
              <li><a href="/logout" class="loginout-btn">LOGOUT</a></li>
              {% if current_user.is_authenticated %}
              <!-- 로그인 한 사용자의 이름을 표시 -->
              <li class="user-name">hello, {{ current_user.username }}</li>
            {% endif %}


        </ul>
    </header>
<section>
   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ai_chatbot.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  <!-- Include jQuery -->

    <h1>AI CHATBOT</h1>
    <h2>AI 챗봇을 활용하여 코드와 관련된 질문을 해보세요. 빠르고 정확한 도움을 얻을 수 있습니다</h2>

    <script>
    $(document).ready(function(){
        $('#userText').keypress(function(e){
            if (e.keyCode == 13 && !e.shiftKey) { // keyCode 13는 'Enter' && shiftKey 눌리지 않았을 때를 확인하고자 함
                e.preventDefault(); // 기본 동작 막음
                $("form").submit(); // 폼 제출을 트리거함
            }
        });

    $("form").on("submit", function(event){
        event.preventDefault();  // 폼이 일반적으로 제출되는 것을 방지
        var userText = $("#userText").val();  // 폼에서 데이터 가져옴
        var userTextFormatted = userText.replace(/\n/g, "<br />");  // '\ng을' <br />으로 교체
        $("#chatbox").prepend("<div class='message user-message'>You: " + userTextFormatted + "</div>");
        $.post("/ai_chatbot_submit", { userText: userText }, function(data){
            var dataFormatted = data.replace(/\n/g, "<br />");  // ai응답 내의 '\ng'를 <br />으로 교체
            $("#chatbox").prepend("<div class='message ai-message'>AI: " + dataFormatted + "</div>");  // 챗봇 응답을 페이지에 추가
        });
        $("#userText").val('');  // 입력 필드 지움
        $("#chatloadimage").hide();  // 폼이 제출될 때, 이미지 컨테이너 숨김
    });
});

        </script>
        

<body>

<div id="chatbox">
    <!-- This div will contain the chat messages -->
    <div id="chatloadimage">
        <img src="{{ url_for('static', filename='images/chatt.png') }}" alt="Chatbot Image">
    </div>
</div>

<form action="/ai_chatbot_submit" method="post">
    <textarea id="userText" name="userText" placeholder="질문을 입력해주세요" rows="3" cols="70"></textarea>
    <input type="submit" value="Submit">
</form>

</body>
</section>
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</html>