<!DOCTYPE html>
<head>
    <meta charset="uft-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Codepse main</title>
	
	<!--- cutom css line -->
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">


    <!--- box icons link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

</head>
<body>

    <!--- header section -->
    <header>
        <a href="{{ url_for('home') if current_user.is_authenticated else url_for('not_logged_home') }}" class="logo">CODE PSE</a>
        <div class="bx bx menu" id="menu-icon"></div>

        <ul class="navlist">
            <!-- 로그인 상태에 따라 Home 링크를 변경 -->
            <li><a href="{{ url_for('home') if current_user.is_authenticated else url_for('not_logged_home') }}">HOME</a></li>
            <li><a href="/test_list">CODING TEST</a></li>
            <li><a href="/ai_chatbot">AI CHATBOT</a></li>
            <li class="dropdown">
                <a href="/typinggame" class="dropbtn">CODING GAME</a>
                <div class="dropdown-content">
                    <a href="/typinggame">TYPING GAME</a>
                    <a href="/draggame">DRAG GAME</a>
                    <a href="/outputgame">OUTPUT GAME</a>
                </div>
                <li><a href="/board_list">BOARD</a></li>
              </li>
              {% if current_user.is_authenticated %}
                <!-- 로그인 한 사용자의 이름을 표시 -->
                <li class="user-name">hello, {{ current_user.username }}</li>
              {% endif %}

              <li><a href="/logout" class="loginout-btn">LOGOUT</a></li>


        </ul>
    </header>
    <title>board_detail</title>
    <link href="{{ url_for('static', filename='css/board_detail.css') }}" rel="stylesheet">

<body>
    <div class="post-details"> 
        <!-- 임의 게시글 -->
        <h2 class="post-title">{{ post.Board.title }}</h2>
        <div class="post-info">
            <p>작성자: {{ post.User.username }} | 날짜: {{ post.Board.created_at.strftime('%Y.%m.%d / %H:%M:%S') }} | 조회수: {{ post.Board.view }}</p>
        </div>
        <div class="post-content">
            <pre>{{ post.Board.content }}</pre>
        </div>

         <!-- 첨부된 파일이 이미지인 경우 -->
        {% if post.Board.file_path and post.Board.file_path.endswith(('.png', '.jpg', '.jpeg', '.gif')) %}
        <div class="attached-image">
            <img src="{{ url_for('board.get_file', filename=post.file_path) }}" alt="Uploaded Image">
        </div>
        {% endif %}

        <!-- 첨부된 파일에 대한 다운로드 링크 제공 -->
        {% if post.Board.file_path %}
        <div class="download-link">
            <a href="{{ url_for('board.get_file', filename=post.Board.file_path.split('/')[-1]) }}" download>첨부된 파일 다운로드</a>
        </div>
        {% endif %}


        <!-- 댓글 작성 폼 -->
        <div class="comment-form-wrapper">
            <form class="comment-form">
                <div class="comment-form-input"> <!-- 버튼 위치 -->
                    <textarea name="comment" placeholder="댓글을 작성하세요..."></textarea>
                    <button type="submit">댓글 작성</button>
                </div>
            </form>
        </div>

        <!-- 댓글 목록 / 동적 생성 댓글 -->
        <div class="comment-list-wrapper">
            <div class="comment">
                <div class="comment-info-wrapper">
                    <p class="comment-info">작성자: 피카츄 | 날짜: 2023.7.25</p>
                </div>
                <div class="comment-content-wrapper">
                    <p class="comment-content">1빠</p>
                    <div class="buttons-wrapper">
                        <button class="edit-btn">수정</button>
                        <button class="delete-btn">삭제</button>
                    </div>
                </div>
            </div>

            <div class="comment">
                <div class="comment-info-wrapper">
                    <p class="comment-info">작성자: 피존투 | 날짜: 2023.7.26</p>
                </div>
                <div class="comment-content-wrapper">
                    <p class="comment-content">피존 앤 다우니</p>
                    <div class="buttons-wrapper">
                        <button class="edit-btn">수정</button>
                        <button class="delete-btn">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/board_detail.js') }}"></script>
</body>