<!DOCTYPE html>
<html>
<head>
    <title>board_detail</title>
    <link href="{{ url_for('static', filename='css/board_detail.css') }}" rel="stylesheet">
</head>

<body>
    <div class="post-details"> 
        <!-- 임의 게시글 -->
        <h2 class="post-title">피카츄 라이츄</h2>
        <div class="post-info">
            <p>작성자: 파이리 | 날짜: 2023.7.25 | 조회수: 3</p>
        </div>
        <div class="post-content">
            <pre>우리는 모두 친구
피카츄 라이츄 파이리 꼬부기
버터플 야도란 피죤투 또가스
서로 생긴 모습은 달라도 우리는 모두 친구 (맞아)
               
산에서 들에서 때리고 뒹굴고
사막에서 정글에서 울다가 웃다가
서로 만나기까지 힘들었어도 우리는 모두 친구 (피카피카)
            </pre>
        </div>

        <!-- 댓글 작성 폼 -->
        <div class="comment-form-wrapper">
            <form class="comment-form">
                <div class="comment-form-input"> <!-- 버튼 위치 -->
                    <textarea name="comment" placeholder="댓글을 작성하세요..."></textarea>
                    <button type="submit">댓글 작성</button>
                </div>
            </form>
        </div>

        <!-- 댓글 목록 / 동적 생성 댓글 -->
        <div class="comment-list-wrapper">
            <div class="comment">
                <div class="comment-info-wrapper">
                    <p class="comment-info">작성자: 피카츄 | 날짜: 2023.7.25</p>
                </div>
                <div class="comment-content-wrapper">
                    <p class="comment-content">1빠</p>
                    <div class="buttons-wrapper">
                        <button class="edit-btn">수정</button>
                        <button class="delete-btn">삭제</button>
                    </div>
                </div>
            </div>

            <div class="comment">
                <div class="comment-info-wrapper">
                    <p class="comment-info">작성자: 피존투 | 날짜: 2023.7.26</p>
                </div>
                <div class="comment-content-wrapper">
                    <p class="comment-content">피존 앤 다우니</p>
                    <div class="buttons-wrapper">
                        <button class="edit-btn">수정</button>
                        <button class="delete-btn">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/board_detail.js') }}"></script>
</body>
</html>