<!DOCTYPE html>
<html>
<head>
<style>
  /* css 스타일링 */
  .menu-list {
    display: none;
  }
</style>
</head>
<body>
    
<!-- checkbox 난이도, 언어 추가 -->
<div class="dropdown">
  <button class="title" onclick="toggleOptions('level-options')">
    난이도
    <svg width="1.875rem" height="1.875rem" viewBox="0 0 9 6" fill="currentColor">
        <path d="M4.5 6L8.39711 0.75H0.602886L4.5 6Z"></path>
    </svg>
  </button>

  <ul class="menu-list" id="level-options">
    <li class="item">
      <label for="level-0">
        <input id="level-0" name="levels" type="checkbox" value="0">
        하
      </label>
    </li>
    <li class="item">
      <label for="level-1">
        <input id="level-1" name="levels" type="checkbox" value="1">
        중
      </label>
    </li>
    <li class="item">
      <label for="level-2">
        <input id="level-2" name="levels" type="checkbox" value="2">
        상
      </label>
    </li>
  </ul>
</div>

<div class="dropdown">
  <button class="title" onclick="toggleOptions('language-options')">
    언어
    <svg width="1.875rem" height="1.875rem" viewBox="0 0 9 6" fill="currentColor">
        <path d="M4.5 6L8.39711 0.75H0.602886L4.5 6Z"></path>
    </svg>
  </button>

  <ul class="menu-list" id="language-options">
    <li class="item">
      <label for="lang-c">
        <input id="lang-c" name="languages" type="checkbox" value="c">
        C
      </label>
    </li>
    <li class="item">
      <label for="lang-cpp">
        <input id="lang-cpp" name="languages" type="checkbox" value="cpp">
        C++
      </label>
    </li>
    <li class="item">
      <label for="lang-java">
        <input id="lang-java" name="languages" type="checkbox" value="java">
        JAVA
      </label>
    </li>
    <li class="item">
      <label for="lang-python">
        <input id="lang-python" name="languages" type="checkbox" value="python">
        Python
      </label>
    </li>
  </ul>
</div>

<script>
  function toggleOptions(optionId) {
    const optionsList = document.getElementById(optionId);
    optionsList.style.display = optionsList.style.display === "none" ? "block" : "none";
  }
</script>

</body>
</html>