<!DOCTYPE html>
<head>
    <meta charset="uft-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Drage Game</title>
	
	<!--- cutom css line -->
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">


    <!--- box icons link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

</head>
<body>

    <!--- header section -->
    <header>
        <a href="{{ url_for('home') if current_user.is_authenticated else url_for('not_logged_home') }}" class="logo">CODE PSE</a>
        <div class="bx bx menu" id="menu-icon"></div>

        <ul class="navlist">
            <!-- 로그인 상태에 따라 Home 링크를 변경 -->
            <li><a href="{{ url_for('home') if current_user.is_authenticated else url_for('not_logged_home') }}">HOME</a></li>
            <li><a href="/test_list">CODING TEST</a></li>
            <li><a href="/ai_chatbot">AI CHATBOT</a></li>
            <li class="dropdown">
                <a href="/typinggame" class="dropbtn">CODING GAME</a>
                <div class="dropdown-content">
                    <a href="/typinggame">TYPING GAME</a>
                    <a href="/draggame">DRAG GAME</a>
                    <a href="/outputgame">OUTPUT GAME</a>
                </div>
                <li><a href="/board_list">BOARD</a></li>
              </li>
              {% if current_user.is_authenticated %}
                <!-- 로그인 한 사용자의 이름을 표시 -->
                <li class="user-name">hello, {{ current_user.username }}</li>
              {% endif %}
              <li><a href="/mypage" class="mypage-btn">MYPAGE</a></li>
              <li><a href="/logout" class="loginout-btn">LOGOUT</a></li>


        </ul>
    </header>
    <section class="game" id="game">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag and Drop Coding Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/draggame.css') }}">
</head>
<body>
    <div id="login-section" style="margin-bottom: 20px;">
        <h1>드래그 게임🖱️</h1><br>
        <div class="wrapper">
        <div class="content-box">
        <h2>닉네임을 입력해주세요</h2><br>
        <input type="text" placeholder="Enter your nickname" id="username" /><br>
        <div id="startScreen">
            <h4>언어를 선택해주세요</h4><br>
            <select id="languageSelect">
              <option value="java">Java</option>
              <option value="python">Python</option>
              <option value="javascript">JavaScript</option>
              <option value="c++">C++</option>
              <option value="c">C</option>
              <option value="c#">C#</option>
              <option value="sql">SQL</option>
              <option value="random">Random</option>
            </select>
        </div>
    </div>
</div>
    <div class="button-container">
          <button id="startQuizButton">퀴즈 시작</button>
      </div>
    </div>
</div>
    <div id="quiz-section" style="display: none;">
    <h6>보기를 드래그하여 소스코드를 완성시켜 주세요!</h6>
    <div id="timer">Timer: </div>
    <p id="question" class="question-text" style="text-align: left;"></p>
    <p id="timer"></p>
    <div id="dropzone" class="dropzone" style="text-align: left;"></div>
    <div id="result"></div>
    <div id="options" style="text-align: left;"></div>
    <button id="checkButton" onclick="checkAnswer()">확인하기</button>
    <button id="nextButton" onclick="nextQuestion()" disabled>다음 문제</button>


    </div>
    <button id="restartButton" style="display: none;" >다시하기</button>
    <p id="scoreDisplay" style="display: none;"></p>
    <div id="result-section" style="display: none;">
        <!-- 결과 및 랭킹 표시 -->
        <div id="userRank"></div>
        <div id="leaderboard" style="font-family: monospace; white-space: pre;"></div>
        <h3 id="result1" style="display: none;">[채점 결과]</h3>
      </div>

    <script src="{{ url_for('static', filename='js/draggame.js') }}"></script>
</div>
</div>
</body>
</section>
</html>