<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>로그인</h1>
    <form method="post" action="/login">
      {{ form.csrf_token }}
      <label for="useremail">{{ form.useremail.label }}</label>
      {{ form.useremail }}<br />
      <label for="password">{{ form.password.label }}</label>
      {{ form.password }}<br />
      <input type="submit" value="로그인" />
  </form>
    <p>계정이 없으신가요? <a href="/signup">회원가입</a></p>
    <script>
      // 페이지가 로드되었을 때 알림창 표시
      window.onload = function() {
        {% if error_message %}
        alert("{{ error_message }}");
        {% endif %}
      }
    </script>
  </body>
</html>
