<!DOCTYPE html>
<html>
<head>
    <title>mypage</title>
    <link href="{{ url_for('static', filename='css/mypage.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>mypage_information</h1>
        <div class="user-info">
            <p><strong>아이디:</strong>20207777@edu.hanbat.ac.kr</p>
            <p><strong>이름:</strong> 라이chu</p>
            <p><strong>생년월일:</strong>2023.7.26</p>
            <p><strong>학번:</strong>20207777</p>
        </div>
    </div>
</body>
</html>