<!DOCTYPE html>
<head>
    <meta charset="uft-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Coding Test</title>
	
	<!--- cutom css line -->
    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">


    <!--- box icons link -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <script>

        function toggleOptions(optionId) {
          const optionsList = document.getElementById(optionId);
          optionsList.style.display = optionsList.style.display === "none" || optionsList.style.display === "" ? "block" : "none";
        }

        function handleCheckboxChange() {
          filterProblems();
        }

        function filterProblems() {
          const selectedLevels = Array.from(document.querySelectorAll('input[name="levels"]:checked')).map(input => input.value);
          const selectedLanguages = Array.from(document.querySelectorAll('input[name="languages"]:checked')).map(input => input.value);

          // 필터링 조건 따라서 url 구성
          let newURL = location.protocol + '//' + location.host + location.pathname;
          let queryParts = [];

          selectedLevels.forEach(level => {
              queryParts.push('levels=' + level);
          });

          selectedLanguages.forEach(lang => {
              queryParts.push('languages=' + lang);
          });

          if (queryParts.length > 0) {
              newURL += '?' + queryParts.join('&');
          }

          // 현재 url과 새로 구성된 url이 다를 경우에 페이지 다시 load
          if (window.location.href !== newURL) {
              window.location.href = newURL;
          }
        }

        document.addEventListener('DOMContentLoaded', () => {
          const levelCheckboxes = document.querySelectorAll('input[name="levels"]');
          const languageCheckboxes = document.querySelectorAll('input[name="languages"]');

          // URL 파라미터에서 선택한 난이도 및 언어를 가져옴
          const params = new URLSearchParams(window.location.search);
          const selectedLevels = params.getAll('levels');
          const selectedLanguages = params.getAll('languages');

          // 체크박스 상태 설정 및 체크박스 상태 변경 시 이벤트 처리
          levelCheckboxes.forEach(checkbox => {
            checkbox.checked = selectedLevels.includes(checkbox.value);

            checkbox.addEventListener('change', function () {
              filterProblems();
              updateURL();
            });
          });

          languageCheckboxes.forEach(checkbox => {
            checkbox.checked = selectedLanguages.includes(checkbox.value);

            checkbox.addEventListener('change', function () {
              filterProblems();
              updateURL();
            });
          });

          // URL 업데이트 함수
          function updateURL() {
            const selectedLevels = Array.from(document.querySelectorAll('input[name="levels"]:checked')).map(input => input.value);
            const selectedLanguages = Array.from(document.querySelectorAll('input[name="languages"]:checked')).map(input => input.value);

            let newURL = location.protocol + '//' + location.host + location.pathname;
            let queryParts = [];

            selectedLevels.forEach(level => {
              queryParts.push('levels=' + level);
            });

            selectedLanguages.forEach(lang => {
              queryParts.push('languages=' + lang);
            });

            if (queryParts.length > 0) {
              newURL += '?' + queryParts.join('&');
            }

            if (window.location.href !== newURL) {
              window.history.pushState({ path: newURL }, '', newURL);
            }
          }
        });
    </script>
</head>
<body>

    <!--- header section -->
    <header>
        <a href="{{ url_for('home') if current_user.is_authenticated else url_for('not_logged_home') }}" class="logo">CODE PSE</a>
        <div class="bx bx menu" id="menu-icon"></div>

        <ul class="navlist">
            <!-- 로그인 상태에 따라 Home 링크를 변경 -->
            <li><a href="{{ url_for('home') if current_user.is_authenticated else url_for('not_logged_home') }}">HOME</a></li>
            <li><a href="/test_list">CODING TEST</a></li>
            <li><a href="/ai_chatbot">AI CHATBOT</a></li>
            <li class="dropdown">
                <a href="/typinggame" class="dropbtn">CODING GAME</a>
                <div class="dropdown-content">
                    <a href="/typinggame">TYPING GAME</a>
                    <a href="/draggame">DRAG GAME</a>
                    <a href="/outputgame">OUTPUT GAME</a>
                </div>
              </li>
              <li><a href="/board_list">BOARD</a></li>
              <li><a href="/mypage" class="mypage-btn">MYPAGE</a></li>
              <li><a href="/logout" class="loginout-btn">LOGOUT</a></li>
              {% if current_user.is_authenticated %}
              <!-- 로그인 한 사용자의 이름을 표시 -->
              <li class="user-name">hello, {{ current_user.username }}</li>
            {% endif %}


        </ul>
    </header>
    <title>문제 목록</title>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/test_list.css') }}" rel="stylesheet">
  </head>
  <body>
    <section class="notice">
      <div class="page-title">
        <div class="container">
          <h3>코딩테스트 문제</h3>
        </div>
      </div>

      <!-- checkbox 난이도, 언어 추가 -->
      <div class="checkbox-wrapper">
        <div class="dropdown">
          <button class="title" onclick="toggleOptions('level-options')">
            <span class="difficulty-label">난이도</span>
            <svg width="1.0em" height="1.0em" viewBox="0 0 9 6" fill="currentColor"> <!-- 삼각형 버튼 모양 -->
              <path d="M4.5 6L8.39711 0.75H0.602886L4.5 6Z"></path>
            </svg>
          </button>
      
          <ul class="menu-list" id="level-options">
            <li class="item">
              <label for="level_high">
                <input id="level_high" name="levels" type="checkbox" value="상">
                상
              </label>
            </li>
            <li class="item">
              <label for="level_mid">
                <input id="level_mid" name="levels" type="checkbox" value="중">
                중
              </label>
            </li>
            <li class="item">
              <label for="level_low">
                <input id="level_low" name="levels" type="checkbox" value="하">
                하
              </label>
            </li>
          </ul>
        </div>
      </div>   

        </div>
      </div>


      <!-- board list 부분 -->
      <div id="board-list">
        <div class="container">
          <table class="board-table">
            <thead>
              <tr>
                <th scope="col" class="th-num">번호</th>
                <th scope="col" class="th-num">난이도</th>
                <th scope="col" class="th-title">제목</th>

              </tr>
            </thead>
            <tbody>
              {% for i in q_list %}
              <!-- <tr> -->
              <tr class="problem-row" data-level="{{ i[1] }}" data-language="{{ i[3] }}">
                <td>{{ i[0] }}</td> <!-- 문제 번호 -->
                <td>{{ i[1] }}</td> <!-- 문제 난이도 -->
                <th>
                  <a href="{{ url_for('coding_test.test_view', q_id=i[0]) }}">{{ i[2] }}</a> <!--i[1]: 문제 이름-->
 <!--i[1]: 문제 이름-->
                  <p>{{ i[2] }}</p>
                </th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="pagination">
        {% if current_page > 10 %}
            <a href="{{ url_for('coding_test.test_list', page=current_page-10) }}">&lt;&lt;</a>
        {% endif %}
  
        {% for i in range(current_page - (current_page-1)%10, current_page - (current_page-1)%10 + 10) %}
            {% if i <= total_pages %}
                {% if i == current_page %}
                    <span>{{ i }}</span>
                {% else %}
                    <a href="{{ url_for('coding_test.test_list', page=i) }}">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
  
        {% if current_page // 10 < total_pages // 10 %}
            <a href="{{ url_for('coding_test.test_list', page=current_page+10) }}">&gt;&gt;</a>
        {% endif %}
    </div>
    </section>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>
</html>
