@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root{
    --bg-color: #647fb4;
    --secont-bg-color: #647fb4;
    --main-color: #e9204f;
    --text-color: #ffffff;
    --second-color: #ffffff;
    --other-color: #c6cd8f;

    --h1-font: 7rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;

}

body{
    color: var(--text-color);
    background-color: var(--bg-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
    background-color:#647fb4;

}

/* Dropdown Button */
.dropbtn {
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #647fb4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Do Hyeon', sans-serif;
    
  }
  

  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

.logo {
    color: #ffffff;
    font-weight: 700;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Permanent Marker', sans-serif;
}

.navlist
{
    display: flex;
}

.navlist a{
    color: var(--second-color);
    font-size: 20px;
    margin: 0 30px;
    transition: all ease .40s;  /*전환*/
    font-family: 'Do Hyeon', sans-serif;
    
}

.navlist li:first-child a {
    margin-top: 2px; /* 홈 링크를 아래로 이동 */
}


.navlist a:hover{
    color: #a570ff;
}

.navlist i{
    color: var(--second-color);
    font-size: 1rem;
    margin: 0 40px 0 0;
    font-family: 'Do Hyeon', sans-serif;
    transition: all ease .40s;  /*전환*/
    transform: skewX(0);
    font-family: 'Do Hyeon', sans-serif;
}
.navlist i:hover{
    color: #a570ff;
}

.navlist j{
    color: var(--second-color);
    font-size: 0.5rem;
    /*font-family: 'Do Hyeon', sans-serif;*/
    transition: all ease .40s;  /*전환*/
   /* border: 1px solid var(--second-color); /* 테두리 속성 추가 */
    padding: 2px 10px; /* 내부 여백 설정 */
    font-family: 'Do Hyeon', sans-serif;
}

.navlist j:hover{
    color: #a570ff;
    /*border-color: #a570ff;*/
}

.navlist {
    display: flex;
    align-items: center;
}

.navlist li:first-child {
    margin-top: auto; /* 홈 버튼을 맨 아래로 이동 */
}
