@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


*{
  font-family: 'Noto Sans KR', sans-serif;
}
section.coding{
    margin-top: 80px;
  
    
  }
  
  .coding {
   
    justify-content: center;
    align-items: center;
  }

  body {
    background: url(/static/images/background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;  /* 배경 이미지 반복하지 않게 조정 */
    background-attachment: fixed;  /* 배경 이미지 고정 */
    background-size: cover;        /* 배경 이미지 화면 꽉 차게 조정. */

    
  }

  header {
    position: fixed;
    width: 100%;
    height: 75px;

}



  h1{
    margin-top: 100px;
  }

  #problem, .output-box, form, #result, #grade-box, #answer-box, #feedback-box {
    text-align: center;
  }

  form {
    margin-top: 20px; 
  }

  h1 {
   margin-top: -50px;
    font-size: 40px; 
    font-weight: bold;
    text-align: center;

  }

  #answer-box {
    margin: 0 auto; /* 가운데 정렬 */
    text-align: left; /* 안에 들어가는 내용 왼쪽 정렬 */
    width: 50%; 
    margin-top: 30px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    max-width: 1500px;
    margin-bottom: 20px;
}


 #feedback-box, #grade-box {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    max-width: 1500px;
    margin-bottom: 20px;
}

#problem {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    max-width: 1500px;
}

.output-box {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    max-width: 1500px;
}

.hidden {
    display: none;
  }

  .ttext{
    top: 50%;
    left: 50%;
    font-size: 25px; 
    font-weight: bold;
    margin-bottom: 15px;
    color: #9effd7;
  }

  .ttext2{
    font-size: 18px; 
    font-weight: bold;
    margin-bottom: 15px;

  }



  #feedback{
    margin-bottom: 50px;
  }

  .wrapper {
    width: 1000px;
    padding: 35px;
    color: #f1f5f9;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  }
  
  .wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
    color: #fff;
    
  }
  
  .wrapper .content-box {
    padding: 20px 20px 0;
    border-radius: 10px;
    border: 3px solid #eeeeee;
  }

  textarea::placeholder {
    font-size: 25px;     
    color: rgb(162, 162, 162);         
}
  


#compile, #submit, #answer, #feedback, #save_code {
 
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;

}

#compile:hover{
  background:#fff;
  color:#1AAB8A;
}

#submit:hover{
  background:#fff;
  color:#1AAB8A;
}

#answer:hover{
  background:#fff;
  color:#1AAB8A;
}

#feedback:hover{
  background:#fff;
  color:#1AAB8A;
}

#save_code:hover{
  background:#fff;
  color:#1AAB8A;
}

#compile:before,#compile:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}

#submit:before,#submit:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}

#answer:before,#answer:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}

#feedback:before,#feedback:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}

#save_code:before,#save_code:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}

#compile:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

#submit:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

#result:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

#feedback:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

#save_code:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

#compile:hover:before,#compile:hover:after{
  width:100%;
  transition:800ms ease all;
}

#submit:hover:before,#submit:hover:after{
  width:100%;
  transition:800ms ease all;
}

#result:hover:before,#result:hover:after{
  width:100%;
  transition:800ms ease all;
}

#feedback:hover:before,#feedback:hover:after{
  width:100%;
  transition:800ms ease all;
}

#save_code:hover:before,#save_code:hover:after{
  width:100%;
  transition:800ms ease all;
}

textarea[name="code"] {
  font-size: 22px; 
}




#webcam {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}