body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: url(/static/images/mypage.png);
    background-repeat: no-repeat;  /* 배경 이미지 반복 안하게 하는 */
    background-attachment: fixed;  /* 배경 이미지 고정시킴 */
    background-size: cover;        /* 배경 이미지 화면 꽉 차게 조정. */
}

.container {
    max-width: 1000px;
    margin: 100px auto;
    border: 1px solid #dddddd;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: lighter;
}

h2{
    margin-bottom: 7px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left; /* Change from center to left */
    border: 1px solid #dddddd;
    padding: 10px;
}

.user-image-container {
    flex: 0 0 150px; /* Adjust width as needed */
    
}

.user-image {
    max-width: 100%;
    height: 150px;
    position: relative;
    top: -18px;  /* 이미지를 10px만큼 위로 옮김 */
   
   
}

.user-details {
    flex: 1;
}


.user-info p {
    font-size: 21px;
    margin-bottom: 14px;
    border: 1px solid #dddddd;
    padding: 10px;
    font-weight: lighter;
}


.user-info strong {
    font-weight: lighter;
}

.game-results-container {
    display: flex;
    gap: 20px;
}

.game-section {
    flex: 1;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.game-table {
    width: 100%;
    border-collapse: collapse;
}

.game-table th, .game-table td {
    padding: 8px 15px;
    border: 1px solid #e5e5e5;
}

.game-table th {
    background-color: #f5f5f5;
    color: #647fb4;
}

.game-table tr:hover {
    background-color: #acb6c9;
}

/* 게시물, 댓글, 코드 부분에 대한 공통 스타일 */
.user-posts, .user-comments, .user-codes {
    border: 1px solid #dddddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* 각 섹션에 해당하는 테이블 스타일 */
.user-posts table, .user-comments table, .user-codes table {
    width: 100%;
    border-collapse: collapse;
}

.user-posts th, .user-posts td, 
.user-comments th, .user-comments td, 
.user-codes th, .user-codes td {
    padding: 8px 15px;
    border: 1px solid #e5e5e5;
}

.user-posts th, .user-comments th, .user-codes th {
    background-color: #f5f5f5;
    color: #647fb4;
}

.user-posts tr:hover, .user-comments tr:hover, .user-codes tr:hover {
    background-color: #acb6c9;
}

/* 더보기 및 접기 버튼에 대한 스타일 */
button#togglePosts, button#toggleComments, button#toggleCodes,
button:not([id]) { /* 접기 버튼에는 id가 할당되어 있지 않으므로 이를 이용한 선택자 */
    background: none;  /* 배경 제거 */
    color: #fff;       /* 글씨 흰색으로 */
    border: none;      /* 테두리 제거 */
    cursor: pointer;   /* 마우스 호버시 손가락 모양으로 변경 */
    outline: none;     /* 클릭시 생기는 테두리 제거 */
    margin-right: 10px;
}

button#togglePosts:hover, button#toggleComments:hover, button#toggleCodes:hover,
button:not([id]):hover { /* 접기 버튼에 대한 호버 효과 */
    text-decoration: underline; /* 마우스 호버시 밑줄 효과 */
}