@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}

body {
  display: block;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(/static/images/game2_back.png);
  background-repeat: no-repeat;  /* 배경 이미지 반복하지 않게 조정*/
  background-attachment: fixed;  /* 배경 이미지 고정 */
  background-size: cover;        /* 배경 이미지 화면 꽉 차게 조정*/
}

header {
    position: fixed;
    width: 100%;
    height: 75px;

   
}
section.game  {
    padding-top: 153px; 
 

}

.game-and-leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 50px; 
}


.highlight {  
    font-weight: bold;   
}



.wrapper {
    width: 1000px;
    padding: 35px;
    color: #f1f5f9;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  }
  
  .wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
    color: #fff;
    
  }
  
  .wrapper .content-box {
    padding: 20px 20px 0;
    border-radius: 10px;
    border: 2px solid #dadada;
  }



.large-input {
    font-size: 50px;
    padding: 15px;
    width: 300px; 
    margin-bottom: 15px;
}

h1 {
    font-size: 2em; 
    text-align: center; 
    margin-bottom: 22px;
  }
  
  
h2{
  color: #67ebd7;
  text-align: center;
  font-size: 24px;
  padding: 10px; 
  margin-bottom: 20px; 
}
h4 {
  color: #ffd736;
}



#languageSelect{
    margin-top: 10px;
    display: block; /* 가로로 붙어있는 요소를 블록 레벨 요소로 변경 */
    margin-bottom: 20px; 
    margin-left: 80px;
  
}

#username {
  margin-bottom: 20px; 
}

.correct-answer {
    color: rgb(0, 53, 185);
}


#login-section {
    width: 60%;  
    text-align: center;
   
}


#quiz-section {
    margin-top: 50px;
}

#question {
    font-size: 20px;
}

#answer {
    margin-top: 20px;
    display: block;
    width: 300px;
    height: 30px;
}

button {
    background-color: #fff; 
    color: #000;  
    border: none;
    border-radius: 10px;
    padding: 9px 13px;  
    margin-top: 20px; 
    margin-bottom: 20px;
    font-family: 'Do Hyeon', sans-serif;
    cursor: pointer;
}


#startScreen {
  margin-left: 300px;

}

button.start-quiz {
  margin-top: 20px;
}

#highscore {
  text-align: center;
}


#leaderboard {
  margin-bottom: 70px; 
}


#leaderboard div {
  padding: 12px 20px; 
  border: 2px solid #d4eaff; 
  margin-bottom: 15px; 
  border-radius: 8px; 
  background-color: rgba(167, 185, 255, 0.107); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s, box-shadow 0.2s; 
}

#leaderboard div:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
}

/* 리더보드 테이블 스타일링 */
.leaderboard-table {
  width: 100%;  
  border-collapse: collapse;
  margin-top: 20px;
}

.leaderboard-table th, .leaderboard-table td {
  border: 1px solid #d4eaff;
  padding: 8px 12px; 
  text-align: left;
}

.leaderboard-table th {
  background-color: #f5f5f5;
  color: #647fb4;
  border: 1px solid #d4eaff;
  padding: 8px 12px; 
  text-align: left;
}

.leaderboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2개의 동일한 너비의 칼럼 생성 */
  gap: 20px; /* 각 그리드 항목 사이의 간격 */
  justify-content: center;
  align-items: start;
}

.language-leaderboard {
  width: 100%; 
  padding: 0 10px;
  box-sizing: border-box;
}

#restart-section {
  display: none;
}